
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row align-items-center">
    <div class="col-lg-5">
        <div class="about-us">
            <span class="text-color">About us</span>
            <h2>We are a dynamic team of creatives people of design & marketing.</h2>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="about-content mt-3 mt-lg-0">
            <p>Steps on how you can increase traffic and sales with optimization, social media marketingLorem ipsum dolor sit amet, consectetur adipisicing elit. Enim alias excepturi laboriosam sed voluptatibus porro reiciendis voluptate quas deleniti nisi soluta, nulla ullam tempora, dicta, optio id sit expedita aliquid.</p>
        </div>
    </div>
</div>

