@model List<Lost_And_Found.Models.PostProductModel>
@{
    ViewBag.Title = "People";
    Layout = "~/Views/Shared/_LogedInLayout.cshtml";
}
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width:20em;margin:10px;">
            <img src="@Url.Content(item.Product_Image)" class="card-img-top" />
            <div class="card-body">
                <div class="card-title">
                    <h2>@item.Product_Name</h2>
                </div>
                <div class="card-text">
                    <p>@item.Product_Description</p>
                </div>
                <a href="#" class="btn btn-primary">Read More...</a>
            </div>
        </div>
    }
</div>


