
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="row align-items-center">
    <div class="col-lg-5">
        <div class="about-us">
            <span class="text-color">About us</span>
                <h2>Steps on how you can increase traffic and sales with optimization,
                social media marketingLorem ipsum dolor sit amet, consectetur adipisicing elit.
                </h2>
        </div>
    </div>
    <div class="col-lg-7">
        <div class="about-content mt-3 mt-lg-0">
            <img src="~/Content/assets/images/ab.jpeg" style="width:620px;"/>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="about-us" style="">
            <img src="~/Content/assets/images/aftr.jpeg" style="width:1125px; padding-top:15px;" />
        </div>
    </div>
</div>

