
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .bgimgabt {
        background-image: url('../../Content/assets/images/contact.jpg');
        background-size: cover;
        overflow: hidden;
        background-color: rgb(0, 0, 0,0.6);
        background-blend-mode: soft-light;
        /*height: 92.4vh;*/
        height:auto;
    }

</style>

<section class="banner bgimgabt">
    <div class="container">
        <div class="row" style="padding-top:200px; padding-bottom:305px;">
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="contact-info">
                    <i class="ti-email"></i>
                    <h4>E-mail</h4>
                    <p>contact@lostandfound.com</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="contact-info">
                    <i class="ti-mobile"></i>
                    <h4>Phone</h4>
                    <p>+92 333 2706437</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-4">
                <div class="contact-info">
                    <i class="ti-location-pin"></i>
                    <h4>Address</h4>
                    <p>Karachi Pakistan</p>
                </div>
            </div>
        </div>
    </div>
</section>