@model Lost_And_Found.Models.DashboardModel

@{
    ViewBag.Title = "Lost & Found";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<style>
    .bgimgabt {
        background-image: url('/Content/assets/images/Lf.jpeg');
        background-size: cover;
        overflow: hidden;
        background-color: rgb(0, 0, 0,0.6);
        background-blend-mode: soft-light;
        height: 92.4vh;
    }

    #x {
        opacity: 0.7;
    }

        #x:hover {
            opacity: 1;
            transition: 0.3s;
        }
</style>

<!-- -------------- Welcome Heading Row -------------- -->
<section class="banner bgimgabt">
    <div class="container">
        <!-- -------------- Cards Row # 01 -------------- -->
        <div class="row" id="x" style="padding-top:120px; ">
            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">@Model.total_post</span>
                    <br>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">Total Posts</p>
                </div>
            </div>
            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">@Model.total_found_post</span>
                    <br>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">Total Found Posts</p>
                </div>
            </div>
            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">@Model.total_lost_post</span>
                    <br>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">Total Lost Posts</p>
                </div>
            </div>
            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">@Model.total_recovered_post</span>
                    <br>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">Recovered Items</p>
                </div>
            </div>
        </div>
    </div>
</section>