@model List<Lost_And_Found.Models.PostProductModel>

@{
    ViewBag.Title = "Lost & Found";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

    <div class="container">
        <h2>No Product are Uploaded </h2>
    </div>


