
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LogedInLayout.cshtml";
}

<div class="container">
   
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0" >
                <div class="team-img" >
                    <img src="~/Content/assets/images/icon/icon-mobile.png" alt="" class="img-fluid">
                </div>
                <div class="team-info">
                    <h4><a href="@Url.Action("Mobile","Category")" >Mobile</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-people.png" alt="" class="img-fluid">
                </div>
                <div class="team-info">
                    <h4><a href="#">People</a></h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-pet.png" alt="" class="img-fluid">
                </div>

                <div class="team-info">
                    <h4><a href="#">Pets</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-car.png" alt="" class="img-fluid">
                </div>

                <div class="team-info">
                    <h4><a href="#">Cars</a></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-clothes-shoes.png" alt="" class="img-fluid">
                </div>
                <div class="team-info">
                    <h4><a href="#">Clothes & Shoes</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-bag.png" alt="" class="img-fluid">
                </div>
                <div class="team-info">
                    <h4><a href="#">Bags</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-document.png" alt="" class="img-fluid">
                </div>
                <div class="team-info">
                    <h4><a href="#">Documents</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-laptop.png" alt="" class="img-fluid">
                </div>
                <div class="team-info">
                    <h4><a href="#">Laptop</a></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-jewellery.png" alt="" class="img-fluid">
                </div>
                <div class="team-info">
                    <h4><a href="#">Jewellery</a></h4>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="team-item mb-5 mb-lg-0">
                <div class="team-img">
                    <img src="~/Content/assets/images/icon/icon-key.png" alt="" class="img-fluid">
                </div>
                <div class="team-info">
                    <h4><a href="#">Keys</a></h4>
                </div>
            </div>
        </div>
    </div>

</div>