@model List<Lost_And_Found.Models.PostProductModel>
@{
    ViewBag.Title = "MyDeactivePosts";
    Layout = "~/Views/Shared/_LogedInLayout.cshtml";
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width:20em;margin:10px;">
            <img src="@Url.Content(item.Product_Image)" class="card-img-top" />
            <div class="card-body">
                <div class="card-title">
                    <h2>@item.Product_Name</h2>
                </div>
                <div class="card-text">
                    <p>@*@item.Product_Description*@</p>
                </div>
                <div>
                    <a href="#" class="btn btn-primary" style="font-size:12px; width: 100px; line-height: 30px;" data-toggle="modal" data-target="#MyModal2">Read More</a>
                    <!--Description Modal-->
                    <div class="modal fade" id="MyModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Description</h5>
                                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body input-box">
                                    <form id="form">
                                        <fieldset id="SubmitForm">
                                            <p>@item.Product_Description</p>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


