
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container card-container">

    <!-- -------------- Welcome Heading Row -------------- -->
    <div class="row">
        <div class="col-sm welcome-heading-col">
            <h1 class="welcome-heading">Welcome to Lost and Found Admin Panel</h1>
        </div>
    </div>

    <!-- -------------- Cards Row # 01 -------------- -->
    <div class="row">
        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">150</span>
                <br>
                <p class="card-content__text">Total Admins</p>
            </div>
            <div class="row card-link">
                <p class="card-link__text">More info</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">150</span>
                <br>
                <p class="card-content__text">New orders</p>
            </div>
            <div class="row card-link">
                <p class="card-link__text">More info</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">150</span>
                <br>
                <p class="card-content__text">New orders</p>
            </div>
            <div class="row card-link">
                <p class="card-link__text">More info</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">150</span>
                <br>
                <p class="card-content__text">New orders</p>
            </div>
            <div class="row card-link">
                <p class="card-link__text">More info</p>
            </div>
        </div>
    </div>

    <!-- -------------- Cards Row # 02 -------------- -->
    <div class="row mt-5">
        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">150</span>
                <br>
                <p class="card-content__text">New orders</p>
            </div>
            <div class="row card-link">
                <p class="card-link__text">More info</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">150</span>
                <br>
                <p class="card-content__text">New orders</p>
            </div>
            <div class="row card-link">
                <p class="card-link__text">More info</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">150</span>
                <br>
                <p class="card-content__text">New orders</p>
            </div>
            <div class="row card-link">
                <p class="card-link__text">More info</p>
            </div>
        </div>

        <div class="col-sm card-col">
            <div class="row card-content">
                <span class="card-content__count">150</span>
                <br>
                <p class="card-content__text">New orders</p>
            </div>
            <div class="row card-link">
                <p class="card-link__text">More info</p>
            </div>
        </div>
    </div>

</div>